body {
  background-color: 
  font-family: 'Times New Roman', sans-serif;
}

#header-nav {
  background-color: linen;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #006400; /* Food, LLC, dark green */
}

.navbar-brand {
  margin: 0;
  font-size: 2.2em;
  font-weight: bold;
}

h2 {
  margin-top: 10px;
  font-family: Georgia, serif;
}

#crta {
  width: 95%;
  margin: 5px;

}

#collapsable-nav #nav-list span {
  font-size: 1.5em;
}

#collapsable-nav {
  background-color: #2F4F4F;
  color: #FAEBD7; /* antique white */
}

#main-content {
  border: 1px solid maroon;
  background-color: #DCDCDC;
}

#main-content h3 {
  color: #32CD32;
}

section {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}